ciic-2021/cogcd/cases/* linguist-vendored
ciic-2021/cogcd/cogcd_tests.zip linguist-vendored
ciic-2022/igualando-arreglos/plusminusplus/tc/* linguist-vendored
oci-2022/1B/*/tests/* linguist-vendored
selectivas-ciic-2021/xygcd/tc/* linguist-vendored
